<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>cheer1</key><string>BRAVO</string><key>cheer10</key><string>TRÈS BIEN</string><key>cheer11</key><string>BRAVO</string><key>cheer12</key><string>TOPE LÀ</string><key>cheer13</key><string>BRAVO</string><key>cheer14</key><string>TU ES FORMIDABLE</string><key>cheer15</key><string>CONTINUE COMME ÇA</string><key>cheer2</key><string>FÉLICITATIONS</string><key>cheer3</key><string>TU ASSURES</string><key>cheer4</key><string>BEAU TRAVAIL</string><key>cheer5</key><string>SUPER</string><key>cheer6</key><string>TU T'ES AMÉLIORÉ</string><key>cheer7</key><string>PARFAIT</string><key>cheer8</key><string>J'ADORE</string><key>cheer9</key><string>TU ES BON</string></dict></plist>